body {
    font-family: sans-serif;
    background-color:#FF4900;
}

h1{
    text-align: center;
}

h2{
    text-align:center;
    background-color:#39AECF;
    border-radius:20px;
    padding:20px;
}

div{
    display:flex;
    justify-content:center;
}

header{
    background-color: #39AECF;
    padding-bottom:1px;
    padding-top:1px;
}

.lilphoto{
    width:350px;
    height:200px;
}

.describe{
    font-size:25px;
}

footer{
    background-color: #39AECF;
    padding:5px;
}

footer p{
    font-size:25px;
    text-align:center;
}

.podcherka{
    border-bottom: 15px double green;
    width:480px;
    font-size:30px;
}
